<body>
	<div class="disn">
		<%= image_tag "rides-at-disneyland.jpg", class: 'pic1'%>
	</div>

	<br />

	<div class="container-fluid">
		<div class="row">
			<div class="card">
				<div class="col-md-6 col-sm-12">
					<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</p>
				</div>

				<div class="col-md-6 col-sm-12">
					<%= image_tag "disney-california-adventure-map.jpg", class: 'pic2' %>
				</div>
			</div>

			<div class="col-md-6 col-sm-12 marg">
				<%= image_tag "Disneyland_Map.jpg", class: 'pic2' %>
			</div>

			<div class="col-md-6 col-sm-12 marg">
				<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</p>
			</div>

			<div class="col-md-6 col-sm-12 marg">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			</div>

			<div class="col-md-6 col-sm-12 marg">
				<%= image_tag "images-1.jpg", class: 'pic2' %>
			</div>

			<div class="col-md-6 col-sm-12 marg">
				<%= image_tag "images-2.jpg", class: 'pic2' %>
			</div>

			<div class="col-md-6 col-sm-12 marg">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			</div>

			<div class="col-md-6 col-sm-12 marg">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			</div>

			<div class="col-md-6 col-sm-12 marg">
				<%= image_tag "images-3.jpg", class: 'pic2' %>
			</div>

			<div class="col-md-6 col-sm-12 marg">
				<%= image_tag "images-4.jpg", class: 'pic2' %>
			</div>

			<div class="col-md-6 col-sm-12 marg">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			</div>

			<div class="col-md-6 col-sm-12 marg">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			</div>

			<div class="col-md-6 col-sm-12 marg">
				<%= image_tag "images-4.jpg", class: 'pic2' %>
			</div>

			<div class="col-md-6 col-sm-12 marg">
				<%= image_tag "images-5.jpg", class: 'pic2' %>
			</div>

			<div class="col-md-6 col-sm-12 marg">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-md-4 crd container1">
				<div class="card">
					<div class="container1">
						<%= image_tag "tickets.jpg", class: 'pic3 image' %>
						<div class="middle">
							<div class="text btn btn-primary"><%= link_to "Buy Now", cart_path %></div>
						</div>
					</div>
					<p class="card-text">
						<h3 class="tickopt">First Option</h3>
						<span class="tickopt">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span>
					</p>
				</div>
			</div>
			<div class="col-md-4 crd container1">
				<div class="card">
					<div class="container1">
						<%= image_tag "tickets2.jpg", class: 'pic3 image' %>
						<div class="middle">
							<div class="text btn btn-primary"><%= link_to "Buy Now", cart_path %></div>
						</div>
					</div>
					<p class="card-text">
						<h3 class="tickopt">Second Option</h3>
						<span class="tickopt">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span>
					</p>
				</div>
			</div>
			<div class="col-md-4 crd">
				<div class="card">
					<div class="container1">
						<%= image_tag "tickets3.jpg", class: 'pic3 image' %>
						<div class="middle">
							<div class="text btn btn-primary"><%= link_to "Buy Now", cart_path %></div>
						</div>
					</div>
					<p class="card-text tickopt">
						<h3 class="tickopt">Third Option</h3>
						<span class="tickopt">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span>
					</p>
				</div>
			</div>
		</div>
	</div>
</body>